.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

test/firmware/riscv32-unknown-elf.gcc-12.1.0
test/firmware/firmware.elf
test/firmware/firmware_sections.lds